<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/assets/CSS/style.css">
        </head>
        <body>
                <img src="./assets/image/logo.png" width=50px/>
                <h1>Welcome to Insaanity THS</h1><br>

                <form method="POST" action="/dealer">
                <button><input type="submit" value="Dealer"></button>
                </form>
                <br>
                <form method="POST" action="/nondealer">
                <button><input type="submit" value="Non-Dealer"></button> </form>

        </body>
</html>