<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/assets/CSS/style.css">
                <script>
                        function update_hidden(){
                                document.getElementById("id2").value=document.getElementById("id1").value
                        }
                </script>
        </head>

        <body>
                <img src="./assets/image/logo.png" width=50px/>
                <h1>Welcome to Insaanity THS</h1><br>
                <h3>Please Enter Your Vault ID:</h3>

                <form method="POST" action="/dealer">
                        <input type="text" onChange="update_hidden()" id="id1" name="vaultID"><br>
                        <button><input type="submit" value="Dealer"></button>
                </form>

                <br>

                <form method="POST" action="/nondealer">
                        <input type="text" style="display:none" id="id2" name="vaultID">
                <button><input type="submit" value="Non-Dealer"></button> </form>

        </body>
</html>