<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <link rel="stylesheet" media="screen" href="../assets/css/style.css">
        </head>
        <body>
                <div id="particles-js">
                {{if .Success}}
                        <div class="text">
                                <h1>GROUP KEY: <b>{{.Keygen_data.GK}}</b></h1><br>
                                <h2>My Share: <b>{{.Keygen_data.Share}}</b><br></h2>
                                <h2>Total Users: <b>{{.Keygen_data.n}}</b><br></h2>
                                <h2>Threshold: <b>{{.Keygen_data.T}}</b><br></h2>

                                <h1>Cick The Pre-Signing Button To Initiate the <br>Pre-Signing Process</h1>
                                
                                <br>
                                <form method="POST" action="/presigning">
                                        <input style="padding:10px" type="submit" id="submit2" value="PreSigning">
                                </form><br>
                                <!-- <form method="POST" action="/signing">
                                        <input type="submit" value="Signing" >
                                </form><br>
                                <form method="POST" action="/combine">
                                        <input type="submit" value="Combine">
                                </form> -->

                        </div>
                </div>
                <script src="../assets/js/particles.js"></script>
                <script src="../assets/js/app.js"></script>  
                <script src="../assets/js/ths.js"></script>  
                {{end}}

        </body>
</html>